* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Open Sans", Arial, sans-serif;
}

.background {
  position: absolute;
  inset: 0;

  padding: 0;
  margin: 0;

  background-image: url("https://media.tenor.com/7b6HGDt61nUAAAAC/magic-ball-remembrall.gif");
  background-size: cover;
  background-position: center;
}

.background--darkening {
  background: hsl(227, 10%, 10%);
  opacity: 0.7;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 50vh;
  width: 100vw;

  transform: translate(-50%, -50%);
}

.form__element_wrapper {
  flex-basis: calc(100% / 3);

  display: flex;
  align-items: center;
  justify-content: center;
}

.form__input {
  padding: 1em 2em;
  border: 2px solid;
  background-color: transparent;
  outline: none;
  border-color: hsl(278, 96%, 20%);

  color: hsl(0, 0%, 100%);
  text-align: center;

  transition: all 0.5s;

  cursor: pointer;
}

.form__input:hover,
.form__input:focus {
  border-color: hsl(323, 46%, 62%);
  box-shadow: inset 0 0 0 2em hsl(323, 46%, 62%);
}

.form__buttons_wrapper {
  display: flex;
}

.form__button_wrapper--lower {
  transform: translateY(120%);
}

.form__button {
  margin: 0.5em;
  padding: 1em 2em;
  border: 2px solid;
  outline: none;
  border-color: hsl(278, 96%, 20%);

  background-color: transparent;

  color: hsl(0, 0%, 100%);

  transition: all 0.5s;

  cursor: pointer;
}

.form__button:hover,
.form__button:focus {
  border-color: hsl(323, 46%, 62%);
  box-shadow: inset 0 0 0 2em hsl(323, 46%, 62%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media (min-width: 620px) {
  .form {
    height: 90vh;
  }
}

@media (min-height: 720px) {
  html {
    font-size: 16px;
  }

  .form {
    height: 40vh;
  }
}

@media (min-height: 1024px) {
  html {
    font-size: 16px;
  }

  .form {
    height: 30vh;
  }
}
